/* Created by: Lily C
* Created on: 04/13/2023
* This CSS file defines the style for index.php
* Unit4-01-PHP-GuessMyNumber
*/

body {
  background-color: firebrick;
}

h1 {
  background-color: rgb(37 95 133);
  color: hsl(40deg 100% 67%);
  padding: 40px;
  text-align: center;
}

h3 {
  color: #255f85;
}

p {
  background-color: #255f85;
  color: #fff;
}

div {
  background-color: #000;
}
